body {
  background-color: #dcdde1;
  font-family: Roboto;
}

/* Home */
.section-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.section-home .title {
  font-size: 5rem;
  letter-spacing: 3px;
}

.section-home .subtitle {
  font-size: 3rem;
  margin-top: -2%;
  letter-spacing: 1px;
}

/* Navigation */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #353b48;
}

nav .nav-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav .list-item {
  padding: 1% 2%;
}

nav .list-item a {
  font-size: 2rem;
  color: #fbc531;
  text-decoration: none;
}

nav .list-item .active {
  color: #e84118;
}