body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Navigation */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #353b48;
}

nav .nav-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav .list-item {
  padding: 1% 2%;
}

nav .list-item a {
  font-size: 2rem;
  color: #fbc531;
  text-decoration: none;
}

nav .list-item .active {
  color: #e84118;
}