body {
  background-color: #dcdde1;
  font-family: Roboto;
}

/* Home */
.section-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.section-home .title {
  font-size: 5rem;
  letter-spacing: 3px;
}

.section-home .subtitle {
  font-size: 3rem;
  margin-top: -2%;
  letter-spacing: 1px;
}

/* Navigation */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #353b48;
}

nav .nav-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav .list-item {
  padding: 1% 2%;
}

nav .list-item a {
  font-size: 2rem;
  color: #fbc531;
  text-decoration: none;
}

nav .list-item .active {
  color: #e84118;
}

/* Flights and tourists*/
.section-flights,
.section-tourists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.section-flights .title,
.section-tourists .title {
  font-size: 3rem;
  letter-spacing: 1px;
}

.section-flights .add-btn,
.section-tourists .add-btn {
  min-width: 150px;
  padding: 15px 10px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: inherit;
  border-radius: 5px;
  border: 3px solid #fbc531;
}

.section-flights .add-btn:hover,
.section-tourists .add-btn:hover {
  border-color: #fffb00;
}

/* flights and tourists list */
.flights-table,
.tourists-table {
  margin-top: 2%;
  border-radius: 5px;
  border-collapse: collapse;
}

.flights-table th,
.tourists-table th {
  background-color: #718093;
}

.flights-table td,
.flights-table th,
.tourists-table td,
.tourists-table th {
  padding: 10px 15px;
  text-transform: capitalize;
  text-align: center;
  border: 1px solid #353b48;
}

.flights-table tr:hover,
.tourists-table tr:hover {
  background-color: rgba(113, 128, 147, 0.3);
}

.flights-table .delete-btn,
.tourists-table .delete-btn {
  padding: 10px 20px;
  width: 100vw;
  color: #e84118;
  text-decoration: none;
}

.edit-button,
.add-button {
  padding: 10px 20px;
  width: 100vw;
  text-decoration: none;
}

.edit-button {
  color: #e4a908;
}

.add-button {
  color: green;
}

/* flight and tourist form */
.flight-form,
.tourist-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  margin-top: 5%;
}

.flight-form .title,
.tourist-form .title {
  font-size: 3rem;
  letter-spacing: 1px;
}

.flight-form form,
.tourist-form form {
  margin: 1% 0;
  padding: 25px;
  text-align: center;
  border: 1px solid #353b48;
}

.flight-form label,
.tourist-form label {
  display: block;
  font-size: 12px;
  text-align: left;
}

.flight-form input,
.tourist-form input,
.tourist-form textarea,
.tourist-form select {
  min-width: 250px;
  margin: 5px 0 20px 0;
  padding: 8px 12px;
  border: 1px solid #718093;
  background-color: inherit;
}

.tourist-form select {
  min-width: 276px;
}

.tourist-form option {
  font-size: 16px;
}

.flight-form .save-btn,
.tourist-form .save-btn {
  min-width: 150px;
  padding: 15px 10px;
  font-size: 18px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: inherit;
  border-radius: 5px;
  border: 3px solid #fbc531;
  cursor: pointer;
  outline: none;
}

/* flight and tourist edit */
.edit-container {
  display: flex;
  justify-content: space-around;
}

.edit-container .edit-row {
  display: flex;
  flex-direction: column;
}

.edit-container .title-list_tourists {
  font-size: 25px;
}

.title-table_tourists {
  text-align: center;
}